<h1 class="welcome-message">Welcome to <b>AceBook</b></h1>
<br/>
<div id='users' class='users'>
  <%= image_tag("1291.jpg", :style => "width:100%; margin: auto;")%>
  <p style="text-align: center;">Join our literally tens of users!</p>
</div>
