<h1>Welcome to <b>AceBook</b></h1>
<br/>
<div id='users' class='users'>
  <%= image_tag("1291-e39e334eeac8a1262377dd2ec788ed9a62ee8bd60cd90caa15c4492d382a1027.jpg", :style => "width:100%; margin: auto;")%>
  <p style="text-align: center;">Join our literally tens of users!</p>
</div>
