<div id='navbar' class='navbar'>NavBar</div>
<h1>Welcome to <b>AceBook</b></h1>
<div id='users' class='users'>
  <%= image_tag("1291.jpeg", :style => "width:90%; margin: auto;")%>
  <p style="text-align: center;">Join our literally tens of users!</p>
</div>
