// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.users {
  margin: auto;
  justify-items: center;
  width: 60%;
  padding: 10px;
}